<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServer1" connectionString="Server=localhost;Integrated Security=True; Database=devdb1;Persist Security Info=True" />
    <add name="SqlServer2" connectionString="Server=localhost;Integrated Security=True; Database=devdb2;Persist Security Info=True" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint
        name="MyService"
        address="http://localhost/ServiceModelSamples/service.svc"
        binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IHello"
        behaviorConfiguration="IHello_Behavior"
        contract="IHello" >

        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      </client>

    <!--The bindings section references by the bindingConfiguration endpoint attribute.-->
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IHello"
                 bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard">
          <readerQuotas maxDepth="32"/>
          <reliableSession ordered="true"
                           enabled="false" />
          <security mode="Message">
            <!--Security settings go here.-->
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!--The behavior section references by the behaviorConfiguration endpoint attribute.-->
    <behaviors>
      <endpointBehaviors>
        <behavior name=" IHello_Behavior ">
          <clientVia />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>